Johannes Schindelin <johannes.schindelin@gmx.de>
Jonathan Hale <squareys@googlemail.com>
Jonathan Hale <squareys@googlemail.com> <Squareys@googlemail.com>
Leon Yang <leonyang1994@gmail.com>
Mark Hiner <hinerm@gmail.com>
