David Pinto <carandraug+dev@gmail.com>
Deborah Schmidt <mail@frauzufall.de>
Johannes Schindelin <johannes.schindelin@gmx.de>
Jonathan Hale <squareys@googlemail.com>
Jonathan Hale <squareys@googlemail.com> <Squareys@googlemail.com>
Leon Yang <leonyang1994@gmail.com>
Mark Hiner <hinerm@gmail.com>
Robert Haase <robert.haase@tu-dresden.de> <rhaase@scicomp-mac-2-tb.mpi-cbg.de>
Stefan Helfrich <stefan.helfrich@googlemail.com> <stefan.helfrich@uni-konstanz.de>
Tiago Ferreira <tiago.tferr@gmail.com>
